.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--fs-13);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.row,
.title {
  position: absolute;
  left: 0;
}
.row {
  top: 767px;
  width: 452px;
  height: 150px;
  font-size: 16px;
  color: var(--color-black);
}
.title {
  top: 0;
  width: var(--width-375);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: var(--padding-8) var(--padding-16);
  box-sizing: border-box;
  gap: 10px;
}
.divTitle {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  font-weight: 600;
}
.chevronIcon {
  width: var(--width-20);
  position: relative;
  height: var(--height-20);
}
.carousel {
  position: absolute;
  top: 38px;
  left: 0;
  display: flex;
  align-items: center;
  padding: var(--padding-8) var(--padding-16);
  gap: var(--gap-12);
}
.imageIcon {
  width: 96px;
  position: relative;
  border-radius: var(--br-8);
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
  font-size: var(--fs-12);
  font-weight: 500;
}
.notchIcon,
.statusBar {
  position: absolute;
  overflow: hidden;
}
.statusBar {
  top: 0;
  left: 0;
  width: var(--width-375);
  height: 44px;
}
.notchIcon {
  height: calc(100% - 14px);
  width: calc(100% - 156px);
  top: -2px;
  right: 78px;
  bottom: 16px;
  left: 78px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.batteryIcon,
.rightSide {
  position: absolute;
  top: 17.3px;
  right: 14.6px;
  width: 66.7px;
  height: 11.3px;
}
.batteryIcon {
  top: 0;
  right: 0.1px;
  width: 24.3px;
}
.wifiIcon {
  position: relative;
  width: 15.3px;
  height: var(--height-11);
}
.mobileSignalIcon {
  position: relative;
  width: 17px;
  height: 10.7px;
}
.recordingIndicatorIcon {
  position: absolute;
  top: -9.3px;
  right: 56.4px;
  width: var(--width-6);
  height: var(--height-6);
  display: none;
}
.leftSideIcon {
  top: 12px;
  left: 21px;
  width: 54px;
  height: 21px;
}
.div2,
.leftSideIcon,
.pills {
  position: absolute;
}
.div2 {
  top: 104px;
  left: 53px;
  font-size: 19px;
  line-height: 150%;
  color: var(--color-black);
  text-align: center;
}
.pills {
  top: 149px;
  left: 50px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-12);
  font-size: var(--fs-14);
  color: var(--color-darkslateblue-200);
}
.pill {
  border-radius: var(--br-20);
  background-color: var(--color-darkslateblue-400);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6) var(--padding-14);
  color: var(--color-white);
}
.div3 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.divPill {
  border-radius: var(--br-20);
  background-color: var(--color-whitesmoke-200);
  border: 2px solid var(--color-darkslateblue-200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6) var(--padding-14);
}
.divPills {
  position: absolute;
  top: 405px;
  left: 52px;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-12);
  font-size: var(--fs-14);
  color: var(--color-white);
}
.pill3,
.pill4 {
  border-radius: var(--br-20);
  background-color: var(--color-darkslateblue-400);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6) var(--padding-14);
}
.pill4 {
  background-color: var(--color-whitesmoke-200);
  border: 2px solid var(--color-darkslateblue-200);
  color: var(--color-darkslateblue-200);
}
.attachFileIcon {
  position: absolute;
  top: 694px;
  left: 18px;
  width: var(--width-24);
  height: var(--height-24);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-14);
}
.i,
.i2,
.i3,
.i4,
.i5 {
  position: absolute;
  left: 40px;
}
.i {
  top: 227px;
  color: var(--color-gray-300);
}
.i2,
.i3,
.i4,
.i5 {
  top: 347px;
}
.i3,
.i4,
.i5 {
  top: 465px;
  left: 47px;
}
.i4,
.i5 {
  top: 511px;
}
.i5 {
  top: 649px;
  color: var(--color-black);
}
.i6 {
  top: 697px;
}
.i6,
.i7,
.i8 {
  position: absolute;
  left: 47px;
}
.i7 {
  top: 602px;
  color: var(--color-dimgray);
}
.i8 {
  top: 555px;
}
.camera {
  top: 510px;
  left: 16px;
  width: var(--width-20);
  height: var(--height-20);
  overflow: hidden;
}
.camera,
.i10,
.i9,
.icon {
  position: absolute;
}
.icon {
  height: 75%;
  width: 91.5%;
  top: 12.5%;
  right: 4.5%;
  bottom: 12.5%;
  left: 4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.i10,
.i9 {
  top: 270px;
  left: 40px;
  color: var(--color-gray-300);
  white-space: pre-wrap;
}
.i10 {
  top: 301px;
}
.child,
.child2,
.child3,
.child4,
.child5,
.divChild,
.inner,
.item,
.lineDiv {
  position: absolute;
  top: 193.5px;
  left: 19.5px;
  border-top: var(--border-1);
  box-sizing: border-box;
  width: var(--width-340);
  height: var(--height-1);
  transform: rotate(-0.3deg);
  transform-origin: 0 0;
}
.child2,
.child3,
.child4,
.child5,
.divChild,
.inner,
.item,
.lineDiv {
  top: 394.5px;
  left: 11.5px;
}
.child2,
.child3,
.child4,
.child5,
.divChild,
.inner,
.lineDiv {
  top: 448.5px;
}
.child2,
.child3,
.child4,
.child5,
.divChild,
.lineDiv {
  top: 498.5px;
}
.child2,
.child3,
.child4,
.child5,
.divChild {
  top: 541.5px;
}
.child2,
.child3,
.child4,
.child5 {
  top: 587.5px;
}
.child3,
.child4,
.child5 {
  top: 637.5px;
  left: 23.5px;
}
.child4,
.child5 {
  top: 685.5px;
  left: 11.5px;
}
.child5 {
  top: 727.5px;
}
.locationOnIcon,
.personIcon {
  position: absolute;
  top: 462px;
  left: 12px;
  width: var(--width-24);
  height: var(--height-24);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-14);
}
.locationOnIcon {
  top: 552px;
  left: 15px;
}
.bell,
.divIcon {
  position: absolute;
  overflow: hidden;
}
.bell {
  top: 602px;
  left: 18px;
  width: var(--width-20);
  height: var(--height-20);
}
.divIcon {
  height: 83.5%;
  width: 75%;
  top: 8.5%;
  right: 12.5%;
  bottom: 8%;
  left: 12.5%;
  max-width: 100%;
  max-height: 100%;
}
.rectangleDiv {
  position: absolute;
  height: 2.22%;
  width: 4.8%;
  top: 79.93%;
  right: 90.13%;
  bottom: 17.86%;
  left: 5.07%;
  background-color: var(--color-darkslateblue-300);
}
.tabBarIcon {
  position: absolute;
  top: 734px;
  left: 0;
  width: var(--width-375);
  height: 78px;
  background-color: var(--color-whitesmoke-200);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray);
  font-size: var(--fs-12);
}
.i11,
.i12 {
  position: absolute;
  top: 69px;
  left: 315px;
  color: var(--color-darkslateblue-300);
  cursor: pointer;
}
.i12 {
  left: 25px;
}
